@page {
 margin-top: 1.7cm;
 margin-left: 1.0cm;
 margin-right: 0;
 margin-bottom: 0;
}
html, body {
 margin: 0;
 padding: 0;
}
body {
 padding-left: 0.5px;
}
img {
 width: 56mm;
 border-top: 1.9mm solid white;
 border-bottom: 1.9mm solid white;
 border-left: 1.7mm solid white;
 border-right: 1.7mm solid white;
 margin: 0.5px;
}

.rarity {
 position: absolute;
 right: 14px;
 top: -110px;
 font-size: 8pt;
 text-shadow: 0.5px 0.5px 0.5px black;
 writing-mode: tb-rl;
 height: 50px;
}

.symbol {
    position: absolute;
    right: 16px;
    bottom: 130px;
    font-size: 10pt;
    text-shadow: 0.5px 0.5px 0.5px black;
    box-shadow: 0.5px 0.5 0.5px black;
    border: 1px black solid;
    width: 10px;
    text-align: center;
    height: 10px;
    line-height: 7px;
}

.r {
 color: #EFD55B;
 border-color: #EFD55B;
}

.u {
 color: #bbeeff;
 border-color: #bbeeff;
}

.c {
 color: white;
 border-color: white;
}


span.image-with-rarity {
 position: relative;
}

img.black {
 border-color: black;
}

